#board-foreground {
    background-image: url("../ressources/game/board_foreground.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;

    position: absolute;
    z-index: 10;
}

#game-container {
    background-image: url("../ressources/game/board_background.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 95.5vh;
    width: 98.5vw;
}

aside {
    background-color: rgba(255, 255, 255, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 20vw;
}

.avatar {
    border-radius: 50%;
    width: 5vw;
}

#yellow-player {
    border: .4vw solid yellow;
}

#red-player {
    border: .4vw solid red;
}

#score-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#score {
    padding: 1vw;
}

#board-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    place-content: space-evenly;
    align-items: center;
}

.board {
    width: 35vw;
    height: 30vw;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
}

.tile {
    aspect-ratio: 1;
    z-index: 0;

    background-color: blue;
}