@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

#app{
    width: 98.5vw;
    height: 97.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title{
    width: 100%;
    height: auto;
}

#title-container{
    position: relative;
    text-align: center;
}

#floating-text{
    color: #ffff00;
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 2vw;
    transform: rotate(334deg);
    animation: 1s cubic-bezier(0, -0.01, 1, 1) infinite alternate none running grow;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.column-flew-container{
    display: flex;
    flex-direction: column;
}

#button-container{
    width: 30vw;
}


#bottom-container{
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}





@keyframes grow {
    0% {font-size: 1vw;}
    50% {font-size: 1.2vw;}
    100% {font-size: 1vw;}

}