#board-foreground {
    background-image: url("../resources/game/board_foreground.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;

    position: absolute;
    z-index: 10;
    pointer-events: none;
}

#game-container {
    background-image: url("../resources/game/board_background.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #board-foreground {
        width: 61.0vw;
        height: 54.4vw;
        min-width: 300px;
        min-height: 270px;
    }

    #game-container {
        width: 61vw;
        height: 54.4vw;
        min-width: 300px;
        min-height: 270px;
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 95.5vh;
    width: 98.5vw;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}

aside {
    background-color: rgba(255, 255, 255, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    padding-inline: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    aside {
        font-size: 2vh;
        width: 78%
    }
}

#timer {
    font-style: italic;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    #timer {
        font-size: 2vh;
    }
}

menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 20vw;
}

@media screen and (max-width: 768px) {
    menu {
        width: auto;
        min-width: 20vw;
    }
}

.avatar {
    border-radius: 50%;
    width: 5vw;
}

@media screen and (max-width: 768px) {
    .avatar {
        width: 9vh;
    }
}

#yellow-player, #ia-avatar {
    border: .4vw solid yellow;
}

#red-player, #player-avatar {
    border: .4vw solid red;
}

@media screen and (max-width: 768px) {
    #red-player {
        border: .7vh solid red;
    }

    #yellow-player {
        border: .7vh solid yellow;
    }

   #ia-avatar {
        border: .7vh solid yellow;
    }

    #player-avatar {
        border: .7vh solid red;
    }
}

#score-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #score-container {
        padding: 1vh;
    }
}

#score {
    padding: 1vw;
}

@media screen and (max-width: 768px) {
    #score {
        padding: 1vh;
    }
}

#board-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    place-content: space-evenly;
    align-items: center;
}

.board {
    width: 35vw;
    height: 30vw;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.board-ia {
    width: 35vw;
    height: 30vw;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-auto-flow: column;
}

@media screen and (max-width: 768px) {
    .board {
        width: 45.6vw;
        height: 40vw;
        min-width: 225px;
        min-height: 195px;
    }

    .board-ia {
        width: 45.6vw;
        height: 40vw;
        min-width: 225px;
        min-height: 195px;
    }
}

.tile {
    aspect-ratio: 1;
    z-index: 0;
}

.red-piece {
    background-image: url("../resources/game/red_concrete_powder.png");
}

.yellow-piece {
    background-image: url("../resources/game/yellow_concrete_powder.png");
}

@media screen and (max-width: 768px) {
    #quitButton {
        min-width: 40vw;
    }
}