#leftSide{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    #leftSide{
        width: 100%;
        background-color: rgb(255 255 255 / 54%);
        padding: 1vh;
    }
}

#chat{
    width: 100%;
    height: 25vw;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    #chat{
        height: 75vw;
    }
}





#output{
    width: 98%;
    height: 100%;
    background-color: #000000;
    overflow-y: scroll;
    display: flex;
    border: white 2px solid;
    margin-top: 3%;
    flex-direction: column;
}

#input{
    width: 100%;
    margin-bottom: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1vw;
    align-items: center;
    max-width: 8.5vw;
    margin-top: 0.5vw;
    width: 100%;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .grid-item{
        max-width: 30vw;
        font-size: 4vw;
    }
    #playing{
        order: 1;
        flex-grow: 1;
    }
    #duration{
        order: 1;
        flex-grow: 1;
    }
    #score-container{
        order: 3;
        flex-grow: 2;
        padding: 0;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        width: 100%;
        justify-content: center;
    }
    #mobile-chat-bubble{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        order: 4;
    }
    .chat-bubble{
        flex-grow: 1;
        height: 100%;
        display: flex;
    }
    .chat-mobile{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .blank{
        flex-grow: 1;
    }

}


#quit{
    height: 5vh;
    width: 5vh;
}

#cross-exit{
    display: none;
}

@media screen and (max-width: 768px) {
    /* ou toute autre largeur de tablette souhaitée */
    #cross-exit{
        font-size: 2vh;
        display: flex;
        justify-content: end;
        margin-right: 3vh;
    }
}

.elo {
    color: #262626;
    font-style: italic;
    font-size: .7vw;
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .elo{
        font-size: 2vw;
    }
}

.other{
    padding-left: 0.5vw;
}

.me{
    color: yellow;
    align-self: flex-end;
    padding-right: 0.5vw;
}

#elo-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#myProgress {
    width: 100%;
    background-color: grey;
    margin-inline: 5px;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    min-width: 10px;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.little-rank-img {
    width: 1.5vw;
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .little-rank-img{
        width: 4vw;
    }
}


.rank-img {
    width: 3vw;
    margin-right: 5px;
}

.playing {
    display: flex;
    margin-bottom: 1vh;
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .playing{
        border-bottom: 1px white solid;
        flex-grow: 1;
        order: 2;
        margin-bottom: 0;
    }
}

.playerArea {
    margin-inline: 1vw;
    font-size: 1vw;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .playerArea{
        font-size: 2vh;
    }
}

#netherstar {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    color: white;
}

#netherstarElo {
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: 5px;
}

#elo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


#mobile-chat{
    display: none;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    #mobile-chat{
        display: flex;
        order: 3;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    #chat-mobile-icon{
        height: 4vh;
        width: 4vh;
    }
    #mobile-chat-message-box{
        width: 95vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .overlay{
        z-index: 11;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        padding-inline: 16vw;
        padding-block: 5vw;
        color: white;
    }
}
.bubble {
    position: relative;
    display: flex;
    margin-top: 1vh;
    text-align: center;
    line-height: 1.3em;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: center;
}
.bubble::after {
    /* content: ""; */
    display: block;
    position: absolute;
    box-sizing: border-box;
}

.bubble.mini {
    display: none;
    width: 35vw;
    max-width: 200px;
    height: 4vh;
    position: absolute;
    font-size: 2vh;
    color: rgb(189, 189, 189);
    align-items: center;
    border: black 2px solid;
    align-items: center;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    background-image: url("../resources/button/button_background.png");
}
.bubble.top.left::after{
    left: 1vw;
    height: 4px;
    width: 4px;
    top: -0.4vw;
    background-image: url("../resources/button/button_background.png");
    right: 32px; /* Modification de la position à droite */
    box-shadow: 0 -4px #000, 0 -8px #000, 0 -12px #000, 0 -16px #000, 4px -12px #000, 8px -8px #000, 12px -4px #000, 4px -4px #6f6f6f, 8px -4px #6f6f6f, 4px -8px #6f6f6f, 4px 0 #6f6f6f, 8px 0 #6f6f6f, 12px 0 #6f6f6f; /* Modification de la boîte d'ombre */
}

.bubble.top::after {
    height: 4px;
    width: 4px;
    top: -2px;
    background-image: url("../resources/button/button_background.png");
    left: 22vw;
    box-shadow: 0 -4px #000, 0 -8px #000, 0 -12px #000, 0 -16px #000, -4px -12px #000, -8px -8px #000, -12px -4px #000, -4px -4px 0 2px #6f6f6f, -8px -4px 0px 0px #6f6f6f, -4px -8px #6f6f6f, -4px 0 #6f6f6f, -8px 0 0 1px #6f6f6f, -12px 0 0px 0px #6f6f6f
}

.msg-up{
    width: 2vh;
    z-index: 2;
    top: -1.7vh;
    position: absolute;
}

#yellow-msg_up{
    left: 1vw;
}

#red-msg_up{
    right: 1vw;
}


.show{
    display: flex!important;
    animation-name: msg-animation;
    animation-duration: 2.1s;
}

.visibility-hidden{
    visibility: hidden ;
}

@keyframes msg-animation {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffd1, 0 0 40px #f8f8f8, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #bdffe8, 0 0 40px #d4a3ff, 0 0 50px #faf3c3, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid #5f5f5f00;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

@media screen and (max-width: 768px) {
    /* ou toute autre largeur de tablette souhaitée */
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 97vh;
        width: 98vw;
        overflow: hidden;
    }
}

#board-foreground {
    background-image: url("../resources/game/board_foreground.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;

    position: absolute;
    z-index: 10;
    pointer-events: none;
}


#game-container {
    background-image: url("../resources/game/board_background.png");
    width: 45vw;
    height: 41vw;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #board-foreground {
        width: 61.0vw;
        height: 54.4vw;
        min-width: 300px;
        min-height: 270px;
    }

    #game-container {
        width: 61vw;
        height: 54.4vw;
        min-width: 300px;
        min-height: 270px;
    }
}

#board-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    place-content: space-evenly;
    align-items: center;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 97.5vh;
    width: 98.5vw;
}


@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    main{
        flex-direction: column;
        justify-content: space-around;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95.5vh;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5vw;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    aside{
        font-size: 2vh;
    }
}

#game-status{
    background-color: rgb(255 255 255 / 54%);
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    #game-status{
        background-color: transparent;
    }

}

#timer {
    font-style: italic;
    font-size: 1vw;
}

menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 20vw;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    #game-menu{
        order: -1;
        width: 70%;
        text-align: center;
    }
}

.avatar {
    border-radius: 50%;
    width: 5vw;
    border: .4vw solid transparent;
}
@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .avatar{
        width: 7vh;
        border: .5vh solid transparent;
    }
}

#player-red-avatar {
    border-color: red;
}

#score-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

#score {
    padding: 1vw;
}

.board {
    width: 35vw;
    height: 30vw;

    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-auto-flow: column;
}

@media screen and (max-width: 768px) { /* ou toute autre largeur de tablette souhaitée */
    .board {
        width: 45.6vw;
        height: 40vw;
        min-width: 225px;
        min-height: 195px;
    }
}

.tile {
    aspect-ratio: 1;
    z-index: 0;
}


.red-piece {
    background-image: url("../resources/game/red_concrete_powder.png");
}

.yellow-piece {
    background-image: url("../resources/game/yellow_concrete_powder.png");
}

@media screen and (max-width: 768px) {
    #quitButton {
        min-width: 40vw;
    }
}

#player-red-avatar-chat-bubble {
    justify-content: flex-end;
}

#player-yellow-avatar-chat-bubble {
    justify-content: flex-start;
}

.flag-container {
    padding: 3px;
}